<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.css">



</head>

<body ng-app="ph28001" ng-controller="ph28001-ctrl">
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>PH28001</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Nguyễn Thị Yến</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="index.html" class="nav-item nav-link active"><i
                            class="fa fa-tachometer-alt me-2"></i>Dashboard</a>


                    <a href="form.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Forms</a>

                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <!-- tikiem -->
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search" id="productName">
                    <button type="button" ng-click="searchProduct()">Search <i class="fas fa-search"></i></button>
                </form>
                <!--  -->
                <div class="navbar-nav align-items-center ms-auto">


                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="img/user.jpg" alt=""
                                style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">Nguyễn Thị Yến </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="#" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->

            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-1">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalnew"> Add New </button>
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Recent Salse</h6>
                        <a href="">Show All</a>
                    </div>

                    <div class="table-responsive">

                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr class="text-dark">
                                    <th scope="col">Id</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Shape</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Created Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in ph28001s">
                                    <td>{{ product.id }}</td>
                                    <td>{{ product.productName }}</td>
                                    <td>{{ product.price }}</td>
                                    <td>{{ product.quantity }}</td>
                                    <td>{{ product.candle_shape }}</td>
                                    <td>{{ product.size }}</td>
                                    <td>
                                        <img src="{{ product.img }}" width="100px" />
                                    </td>
                                    <td>{{ product.date }}</td>
                                    <td>
                                        <button class="btn btn-secondary" data-bs-toggle="modal"
                                            data-bs-target="#modalDetail" ng-click="getDetail(product.id)"> Detail
                                        </button>
                                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#update"
                                            ng-click="getProductUpdate(product.id)"> Update </button>
                                        <button class="btn btn-danger" ng-click="delete(product.id)"> Delete </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- diolog detail -->
            <div class="modal" id="modalDetail">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h4> {{ productDetail.username }}</h4>
                        </div>
                        <div class="modal-body">
                            <tr ng-repeat="product in ph28001s">
                                <p> Id: {{ productDetail.id }}</p>
                                <p>Name: {{ productDetail.productName }}</p>
                                <p>Price: {{ productDetail.price }}</p>
                                <p>Quantity: {{ productDetail.quantity }}</p>
                                <p>Shape: {{ productDetail.candle_shape }}</p>
                                <p>Size: {{ productDetail.size }}</p>
                                <p>Date: {{ productDetail.date }}</p>
                                <p>
                                    <img src="{{ productDetail.img }}" width="100px" />
                                </p>

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end detail -->
            <!-- dialog update -->
            <div class="modal" id="update">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h4> Update Product </h4>
                        </div>
                        <div class="modal-body">
                            <p>Name: <input type="text" ng-model="productUpdate.productName"></p>
                            <p>Price: <input type="text" ng-model="productUpdate.price"></p>
                            <p>Quantity: <input type="text" ng-model="productUpdate.quantity"></p>
                            <p>Shape: <input type="text" ng-model="productUpdate.candle_shape"></p>
                            <p>Size: <input type="text" ng-model="productUpdate.size"></p>
                            <p>Date: <input type="text" ng-model="productUpdate.date"></p>

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" ng-click="updateProduct(productUpdate.id)">Update</button>
                            <button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end dialog -->
            <!-- them moi -->
            <div class="modal" id="modalnew">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h4> Add New Product </h4>
                        </div>
                        <div class="modal-body">
                            <p>Name: <input type="text" ng-model="productNew.productName"></p>
                            <p>Price: <input type="text" ng-model="productNew.price"></p>
                            <p>Quantity: <input type="text" ng-model="productNew.quantity"></p>
                            <p>Shape: <input type="text" ng-model="productNew.candle_shape"></p>
                            <p>Size: <input type="text" ng-model="productNew.size"></p>
                            <p>Date: <input type="text" ng-model="productNew.date"></p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" ng-click="newProduct()">Add</button>
                            <button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end  them moi -->
            <!-- Recent Sales End -->

            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Your Site Name</a>, All Right Reserved.
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                            </br>
                            Distributed By <a class="border-bottom" href="https://themewagon.com"
                                target="_blank">ThemeWagon</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

    <script>

        var app = angular.module("ph28001", []);
        app.controller("ph28001-ctrl", function ($scope, $http) {
            // tạo làm lấy ds dữ liệu
            var getProducts = function () {
                $http.get("https://63ec4a28be929df00ca8f9c2.mockapi.io/ph28001/shop_nen_thom")
                    .then(function (response) {
                        //lấy dữ liệu
                        var data = response.data;
                        //truyền lên giao diện
                        $scope.ph28001s = data;
                    });
            };
            //gọi hàm để thực hiện lấy ds sản phẩm 
            getProducts();

            $scope.getDetail = function (id) {
                $http.get("https://63ec4a28be929df00ca8f9c2.mockapi.io/ph28001/shop_nen_thom/" + id)
                    .then(function (response) {
                        //lấy dữ liệu
                        var data = response.data;
                        //truyền lên giao diện
                        console.log(data)
                        $scope.productDetail = data;
                    });
            };
            // xoa sp 
            $scope.delete = function (id) {
                $http.delete("https://63ec4a28be929df00ca8f9c2.mockapi.io/ph28001/shop_nen_thom/" + id)
                    .then(function (response) {
                        getProducts(); //reload
                        alert("Xoa thanh cong")
                    });
            };
            // update product
            $scope.updateProduct = function (id) {
                var data = {
                    "productName": $scope.productUpdate.productName,
                    "price": $scope.productUpdate.price,
                    "quantity": $scope.productUpdate.quantity,
                    "candle_shape": $scope.productUpdate.candle_shape,
                    "img": "https://loremflickr.com/640/480/animals",
                    "size": $scope.productUpdate.size,
                    "date": $scope.productUpdate.date,

                }
                console.log(data);

                $http.put("https://63ec4a28be929df00ca8f9c2.mockapi.io/ph28001/shop_nen_thom/" + id, data)
                    .then(function (response) {
                        console.log(response);
                        $("#update").modal('hide')
                        getProducts(); //reload
                        alert("Sua thanh cong")
                    })
            }
            // lấy thông tin để sửa
            $scope.getProductUpdate = function (id) {
                $http.get("https://63ec4a28be929df00ca8f9c2.mockapi.io/ph28001/shop_nen_thom/" + id)
                    .then(function (response) {
                        //lấy dữ liệu
                        var data = response.data;
                        //truyền lên giao diện
                        console.log(data)
                        $scope.productUpdate = data;
                    });
            };
            // them sp
            $scope.newProduct = function () {
                var data = {
                    "productName": $scope.productNew.productName,
                    "price": $scope.productNew.price,
                    "quantity": $scope.productNew.quantity,
                    "candle_shape": $scope.productNew.candle_shape,
                    "img": "https://loremflickr.com/640/480/animals",
                    "size": $scope.productNew.size,
                    "date": $scope.productNew.date,
                }
                console.log(data);

                $http.post("https://63ec4a28be929df00ca8f9c2.mockapi.io/ph28001/shop_nen_thom", data)
                    .then(function (response) {
                        console.log(response);
                        $("#modalnew").modal('hide')
                        getProducts(); //reload
                        alert("Them thanh cong")
                    })
            }
            // search
            $scope.searchProduct = function () {
                var productName = document.getElementById("productName").value;
                console.log(productName);
                $http.get("https://63ec4a28be929df00ca8f9c2.mockapi.io/ph28001/shop_nen_thom?productName=" + productName)
                    .then(function (response) {
                        //lấy dữ liệu
                        var data = response.data;
                        //truyền lên giao diện
                        console.log(data)
                        $scope.ph28001s = data;
                        $(".search-area").removeClass("search-active");
                    });
            }
        });
    </script>
</body>

</html>